<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>20230214_myWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
  	<filter-name>EncodingFilter</filter-name> <!-- 대소문자 구분 상관없음-->
  	<filter-class>kh.common.filter.EncodingFilter</filter-class>  <!-- 이 클래스 이름으로 위에 것 쓰는--> 
  </filter>
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern> <!-- 모든 url에 이 필터는 거쳤다 가게 하는-->
<!--   	<url-pattern>/*.do</url-pattern>특정 이름 가진 것만 이 필터 거치게 -->
  </filter-mapping>
</web-app>